@page "/projects"

<section class="projects-section">
    <div class="projects-container">

        <ProjectViewCard 
        Title="Personal Website" 
        Description="This website was built using ASP.NET Blazor. It is a single page application 
        that allows you to view my projects and contact me. It was created to learn about the
        ASP.NET framework and refresh my knowledge of Html and CSS." 
        Technologies="ASP.NET blazor C# html css"
        Url="https://github.com/alexpetrou94/alexandrospetrou"/>

        <ProjectViewCard 
        Title="Geyser Workflow App" 
        Description="3rd year university project that allows onsite plumbers to minimize
        paperwork required to install or replace a geyser, streamlining the process by
        leveraging a mobile app." 
        Technologies="ionic typescript firebase mobile"
        Url="https://github.com/cos301-2019-se/Geyser-App"/>

        <ProjectViewCard 
        Title="Virtual In-Game Operation System" 
        Description=""
        Technologies="godot-engine"
        Url=""
        WorkInProgress="true"/>
    </div>
</section>