.projects-section {
    padding-top: var(--top-page-padding);
    background: var(--secondary-color);
    min-height: 100vh;
    overflow: auto;
}

.projects-container {
    position: relative;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 24px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}

@media (max-width: 768px) {
    .projects-container {
        margin-left: 5%;
        margin-right: 5%;
        flex-direction: column;
    }
}