.project-view-container {
    border-radius: 12px;
    background-color: var(--secondary-color-hover);
    padding: 16px;
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.title {
    color: white;
    font-size: 2rem;
    padding-bottom: 10px;
    text-align: center;
    transition: color 0.2s;
}

.description {
    color: #d1d5e2;
    font-size: 1.3rem;
    padding-bottom: 20px;
    text-align: center;
    flex-grow: 1;
    padding-top: 5px;
}

.technologies {
    color: #a4a8b2;
    padding-bottom: 5px;
    text-align: center;
    word-spacing: 5px;
    padding-top: 5px;
    border-top: 2px solid var(--accent-color);
}

.card {
    flex-basis: 0;
    flex-grow: 1;
}

.card:hover {
    cursor: pointer;
}

.card:hover > .title {
    color: var(--accent-color);
}

.WIP-text {
    color: var(--accent-color);
}

/* Why is there no parent selector? */

@media (max-width: 768px) {
    .project-view-container {
        min-width: 0;
    }
}