@inject IJSRuntime js;

<div class="project-view-container card" @onclick=OnClick>
    <div class="title">
        @Title
    </div>

    <div class="description">
        @Description
    </div>

    <div class="technologies">
        @if(!WorkInProgress) {
            @Technologies
        }

        else { 
            <div class="WIP-text">WORK IN PROGRESS</div>
        }
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Description { get; set; } = "";
    [Parameter] public string Technologies { get; set; } = "";
    [Parameter] public string Url { get; set; } = "";
    [Parameter] public bool WorkInProgress { get; set; } = false;

    public async void OnClick() {
        if(Url != "") {
            await js.InvokeVoidAsync("open", Url, "_blank");
        }
    }
}