@page "/chat"
@using alexandrospetrou.Data;

<section class="chat-section">
    <div class="chat-container">

        <header class="chat-header">
            <div class="chat-header-title">
                <i class="fas fa-comment-alt"></i> Chat
            </div>
        </header>

        <main class="main-chat">
            @foreach(ChatMessageModel message in messageList) {
                <MessageBubble
                    Message=@message.Message
                    IsSender=@message.IsSender
                    Time=@message.Time
                    Name=@message.Name 
                />
            }
        </main>

        <div class="chat-inputarea">
            <input type="text" class="chat-text-input" placeholder="Enter your message...">
            <button class="chat-send-button">Send</button>
        </div>
    </div>
</section>


@code {
    private string currentMessage = ""; 
    public List<ChatMessageModel> messageList = new List<ChatMessageModel> {
            new ChatMessageModel {
                Name = "BOT",
                Message = "Hi, welcome to SimpleChat! Go ahead and send me a message. 😄",
                Time = new TimeOnly(12, 15),
                IsSender = false
            },
            new ChatMessageModel {
                Name = "BOT",
                Message = "HELLO WORLD 😄",
                Time = new TimeOnly(12, 15),
                IsSender = false
            },
            new ChatMessageModel {
                Name = "BOT",
                Message = "HELLO WORLD 😄",
                Time = new TimeOnly(12, 15),
                IsSender = false
            },
            new ChatMessageModel {
                Name = "BOT",
                Message = "HELLO WORLD 😄",
                IsSender = false
            },
            new ChatMessageModel {
                Name = "NOT BOT",
                Message = "HELLO WORLD 😄",
                IsSender = true
            },
            new ChatMessageModel {
                Name = "NOT BOT",
                Message = "HELLO WORLD 😄",
                IsSender = true
            },
            new ChatMessageModel {
                Name = "NOT BOT",
                Message = "HELLO WORLD 😄",
                IsSender = true
            },
            new ChatMessageModel {
                Name = "NOT BOT",
                Message = "HELLO WORLD 😄",
                IsSender = true
            },
            new ChatMessageModel {
                Name = "NOT BOT",
                Message = "HELLO WORLD 😄",
                IsSender = true
            },
            new ChatMessageModel {
                Name = "NOT BOT",
                Message = "HELLO WORLD 😄",
                IsSender = true
            },
            new ChatMessageModel {
                Name = "NOT BOT",
                Message = "HELLO WORLD 😄",
                IsSender = true
            },
            new ChatMessageModel {
                Name = "NOT BOT",
                Message = "HELLO WORLD 😄",
                IsSender = true
            },
            new ChatMessageModel {
                Name = "NOT BOT",
                Message = "HELLO WORLD 😄",
                IsSender = true
            },
            new ChatMessageModel {
                Name = "NOT BOT",
                Message = "HELLO WORLD 😄",
                IsSender = true
            },
    };

    //Hello

}