@page "/chat"
@using alexandrospetrou.Data;
@inject ChatService chatService;

<section class="chat-section">
    <div class="chat-container">

        <header class="chat-header">
            <div class="chat-header-title">
                <i class="fas fa-comment-alt"></i> Chatting as @chatService.SessionName
            </div>
        </header>

        <main class="main-chat">
            @foreach(ChatMessageModel message in chatService.Messages) {
                <MessageBubble
                    Message=@message.Message
                    IsSender=@message.IsSender
                    Time=@message.Time
                    Name=@message.Name 
                />
            }
        </main>

        <div class="chat-inputarea">
            <input 
            type="text" 
            class="chat-text-input" 
            @bind="currentMessage"
            @bind:event="oninput"
            @onkeypress="OnKeyPressed"
            placeholder="Enter your message..."
            >
            <button class="chat-send-button" @onclick=SendMessage>Send</button>
        </div>
    </div>
</section>


@code {
    private string currentMessage = "";

    protected override void OnInitialized() {
        chatService.MessageListChanged += async () => {
            await InvokeAsync(StateHasChanged);
        };
    }
    
    public void SendMessage() {
        chatService.SendMessage(currentMessage);
        currentMessage = "";
    }

    private void OnKeyPressed(KeyboardEventArgs e) {
        if (e.Key == "Enter") {
            SendMessage();
        }
    }
}