<div class="msg @MessageType">
    <div class="msg-bubble">
        <div class="msg-info">
            <div class="msg-info-name">@Name</div>
            <div class="msg-info-time">@Time</div>
        </div>

        <div class="msg-text">
            @Message
        </div>
    </div>
</div>

@code {
    [Parameter] public string Message { get; set; } = "";
    [Parameter] public string Name { get; set; } = "NONAME";
    [Parameter] public TimeOnly Time { get; set; } = new TimeOnly();
    [Parameter] public string MessageType { get; set; } = "";
}