.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}

.msg-info-time {
    font-size: 0.85rem;
}

.right-msg {
    flex-direction: row-reverse;
}

.right-msg .msg-bubble {
    background: var(--chat-bubble-right);
    color: white;
}

.left-msg .msg-bubble {
    background: var(--chat-bubble-left);
    color: white;
}

.error-msg .msg-bubble {
    background: var(--secondary-color);
    border: 2px solid var(--accent-color);
    color: white;
}

.error-msg .msg-bubble .msg-info {
    display: none;
}