@page "/about"

<section class="about-section">
    <div class="about-container">
        <div class="about-paragraph">
            <div class="heading">About me</div>
            <br/>
            <p class="about-text">
            The thrill of problem-solving through code gripped me when I was 
            just 12 years old. That thrill quickly developed into a deep passion, 
            motivating me to seek an advanced education outside of my home country. 
            I graduated with a Bachelor of Science in Computer Science, and my 
            desire to learn more about my craft has only grown since then.
            <br/><br/>
            When I am not drinking tea or preparing tea to drink,
            you can often find furthering my skills by experimenting with
            game development using the Godot game engine or trying new technologies.
            </p>
        </div>
        <div class="socials">
         <div class="heading2">Socials</div>
            <div class="logo-group">
                <FontAwesomeLogo
                Text=""
                Url="https://github.com/alexpetrou94"
                FontAwesomeCSS="fa-brands fa-github"/>
                <FontAwesomeLogo
                Text=""
                Url="https://www.linkedin.com/in/alexandros-petrou/"
                FontAwesomeCSS="fa-brands fa-linkedin"/>
            </div>
        </div>

        <div class="skills">
            <div class="heading2">Toolkit</div>
            <div class="logo-group">
                <FontAwesomeLogo
                Text="html"
                FontAwesomeCSS="fa-brands fa-html5"/>
                <FontAwesomeLogo
                Text="css"
                FontAwesomeCSS="fa-brands fa-css3"/>
                <FontAwesomeLogo
                Text="git"
                FontAwesomeCSS="fa-brands fa-git"/>
                <FontAwesomeLogo
                Text="C#"
                FontAwesomeCSS="fa-solid fa-hashtag"/> @* No C# logo :( *@
            </div>
        </div>
    </div>
</section>

<div class="decor-blob"></div>