@page "/about"

<section class="about-section">
    <div class="about-container">
        <div class="about-paragraph">
            <div class="heading"> About me</div>
            <br/>
            <p>
            The thrill of problem-solving through code gripped me when I was 
            just 12 years old. That thrill quickly developed into a deep passion, 
            motivating me to seek an advanced education outside of my home country. 
            I graduated with a Bachelor of Science in Computer Science, and my 
            desire to learn more about my craft has only grown since then.
            <br/><br/>
            When I am not drinking tea or preparing tea to drink,
            I spend my free time furthering my skills by experimenting with
            game development using the Godot game engine. 
            </p>

        </div>
        @* <div class="skills">

        </div> *@
    </div>
</section>

<div class="decor-blob"></div>