.heading1 {
    font-size: 75px;
    color: white;
}

.heading2 {
    font-size: 40px;
    color: white;
}

.heading3 {
    font-size: 27px;
    color: white;
}

.name-container {
    margin-left: 15%;
    margin-top: 10%;
    padding: 3rem;
    display: inline-block;
}

.call-to-action {
    position: relative;
    top: 2rem;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    padding-left: 0;
}

.learn-more-text {
    color: white;
    font-size: 1.5rem;
}

.about-link {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 2rem;
    border: 2px solid transparent;
    padding: 3px;
    border-radius:  10px;
    transition: border 150ms;
    display: inline-block;
}

.about-link:hover {
    border: 2px solid var(--accent-color);
}

.home-container {
    position: relative;
    
}

.home-section {
    /* background: var(--secondary-color); */
    background: url("/images/circle-background.svg");
    height: 100vh;
}

@media (max-width: 768px) {
    .heading1 {
        font-size: 60px;
    }
    
    .heading2 {
        font-size: 25px;
    }
    
    .heading3 {
        font-size: 17px;
    }
}