@page "/projects"

<section class="projects-section section-with-nav">
    <div class="projects-container">
        <div class="coming-soon">
            Coming soon! 
        </div>
        <div class="sub-coming-soon">
            Unless this website counts as one? 
            <span class="github">
                GitHub 
                <i class="fa-brands fa-github"></i> 
            </span>
        </div>
    </div>
</section>