.projects-section {
    background: var(--secondary-color);
    min-height: 100vh;
    overflow: auto;
}

.projects-container {
    position: relative;
    padding: 1.5rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.coming-soon {
    color:white;
    font-size: 3rem;
}

.sub-coming-soon {
    color: white;
    font-size: 1.5rem;
}

.github {
    color: white;
    font-size: 2rem;
    transition: color 150ms;
    cursor: pointer;
}

.github:hover {
    color: var(--accent-color);
}

@media (max-width: 768px) {
    .projects-container {
        margin-left: 5%;
        margin-right: 5%;
        flex-direction: column;
    }
}