@page "/projects"

<section class="projects-section section-with-nav">
    <div class="projects-container">
        <div class="coming-soon">
            Coming soon! 
        </div>
        <div class="sub-coming-soon">
            Unless this website counts as one? 
            <a href="https://github.com/alexpetrou94/alexandrospetrou" class="github" target="_blank" rel="noopener noreferrer">
                GitHub 
                <i class="fa-brands fa-github"></i> 
            </a>
        </div>
    </div>
</section>
