@page "/"
@page "/home"

<section class="home-section">
	<div class="home-container">
		<div class="name-container">
			<div class="heading3">Hello, I am</div>
			<div class="heading1">Alexandros Petrou</div>
			<div class="heading2">I am a software developer</div>
			<div class="call-to-action">
				<div class="learn-more-text">Learn more </div>
				<a class="about-link" href="about">about me</a>
			</div>
		</div>
	</div>
</section>