#navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    z-index: 100;
    transition: all 150ms ease;
}

#navbar.sticky {
    padding: 10px 0;
    background: var(--primary-color);
}

.navbar-inner-container {
    display: flex;
    padding: 0 80px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.brand a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    display: none; /*For now */
}

.menu {
    display: flex;
    gap: 25px;
}

.menu li {
    list-style: none;
}

.menu li a:hover {
    color: var(--accent-color);
}

.menu li a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    transition: color 250ms ease;
}

.menu-button {
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
}

@media (max-width: 768px) {
    .menu-button {
        display: block;
        z-index: 100;
    }

    .navbar-inner-container {
        padding: 0 30px;
    }

    .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        right: -100%;
        background: var(--primary-color);
        flex-direction: column;
        align-items: center;
        padding-top: 15%;
        gap: 50px;
        transition: all 250ms ease;
    }

    .menu.active {
        right: 0;
    }

    .menu-button-icon.fa-xmark, .menu-button-icon.fa-bars {
        font-size: 1.8em;
    }


    .menu li a{
        color: white;
        font-size: 2.0rem;
    }
}
