.navbar {
    /*position: fixed;*/
    width: 100%;
    background: #3c2c66;
    padding: 15px 0;
}

.navbar-inner-container {
    display: flex;
    padding: 0 80px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.brand a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 25px;
}

.menu li {
    list-style: none;
}

.menu li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
